# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
# Ignore Maven wrapper binary
.mvn/wrapper/maven-wrapper.jar

# Custom Ignores
*.log
*_log.txt
compile_log.txt
cookies.txt
failed_log*.txt
test_log*.txt
