<nav class="top-nav" aria-label="Main Navigation">
  <div class="logo">
    HomeDir
  </div>

  <div class="nav-links-center">
    <a href="/">Home</a>
    <a href="/comunidad">Comunidad</a>
  </div>

  <div class="nav-actions">
    {#if userAuthenticated}
    <a href="/profile" class="btn-nav-outline">{userName}</a>
    <a href="/logout" class="btn-nav-outline">Logout</a>
    {#else}
    <a href="/ingresar" class="btn-nav-outline">Registrarse</a>
    <a href="/ingresar" class="btn-nav-outline">Ingresar</a>
    {/if}
  </div>
</nav>