{#include layout/base}
{#title}Login{/title}
{#main}
<h1>Login</h1>
<p>
    {#if redirect}
    <a href="/private/login-callback?redirect={redirect}"><img alt="Sign in with Google" src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a>
    {#else}
    <a href="/private/profile"><img alt="Sign in with Google" src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a>
    {/if}
</p>
<p><a href="/">Volver al inicio</a></p>
{/main}
{/include}
