[Unit]
Description=Periodic fallback for HomeDir auto-deploy from Quay

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
RandomizedDelaySec=15s
Persistent=true

[Install]
WantedBy=timers.target
